<!DOCTYPE html>
<html>
<head>
  <title>
    Documento - 
    <%= @document.title %>
  </title>
</head>
<body>
  <h1><%= @document.title %></h1>

  <p>
    Título:<br />
    <strong><%= @document.title %></strong>
  </p>

  <p>
    Tags:<br />
    <strong>
      <%= @document.tags %>
    </strong>
  </p>

  <p>
    Descripción:<br />
    <strong>
      <%= @document.description %>
    </strong>
  </p>
</body>
</html>